html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}

mat-card {
    margin: 20px;
}

.centralizar {
    display: flex;
    justify-content: center;
}

.centralizar-texto {
    text-align: center;
}

.btn-verde {
    background-color: rgb(9, 145, 25);
    color: #fff;
}

.btn-vermelho {
    background-color: rgb(202, 53, 50);
    color: #fff;
}

i.edit {
    color: rgb(36, 168, 225);
    margin-right: 8px;
}

i.delete {
    color: rgb(202, 53, 16);
}

.verde {
    color: rgb(9, 145, 25);
}

.vermelho {
    color: rgb(202, 53, 50);
}